<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc.Futures" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="3.9.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Moq" version="4.16.1" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.3" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="90.0.4430.2400" targetFramework="net48" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net48" />
  <package id="SpecsFor.Mvc" version="5.1.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.113.7" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>